<?xml version="1.0" encoding="UTF-8"?>
<context>
<Resource
            name="jdbc/mysql"
            type="javax.sql.DataSource"
            auth="Container"
            driverClassName="com.mysql.cj.jdbc.Driver"
            url="jdbc:mysql://localhost:3306/servletdb?serverTimezone=UTC"
            username="root"
            password=""
            maxActive="50"
            maxWait="1000"
    />
    <!-- maxWait : 커넥션이 없을 때 대기 시간 (1000 : 1초) 음수이면 무한 대기
<Resource 

   name="데이터베이스 이름"
   auth="Container" 
   driverClassName="oracle.jdbc.driver.OracleDriver" 
   type="javax.sql.DataSource" 
   url="jdbc:oracle:thin:@ip주소:포트번호:전역 데이터베이스 이름" 
   username="데이터베이스 아이디"
   password="데이터베이스 비밀번호" 
   maxActive="20" 
   maxIdle="10" 
   maxWait="5000"  />
 -->
</context>